<li class="nav-dropdown-container">
  <a class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API文档</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="/api/android.html" class="nav-link" >Android API</a></li>
    <li><a href="/api/ios.html" class="nav-link" >iOS API</a></li>
  </ul>
</li>
