
$table-border-color = #d9d9d9
$table-head-bg = #f2f2f2

td,th
    margin 0
    padding 0

table
    border-collapse collapse
    border-spacing 0
    width 100%
    box-sizing border-box
    margin-top 0
    margin-bottom 24px
    line-height 1.5
    *
        box-sizing border-box
    tr
        background-color #fff
    th
        background-color $table-head-bg
    th,td
        border 1px solid $table-border-color
        padding 8px 13px
        word-wrap break-word
        text-align left

